ipykernel
Langchain
python-dotenv
langchain-community
langchain_groq
#langchain-google
bs4
langchain-core
faiss-cpu
sentence-transformers
#PyPDF
fastapi
uvicorn
langserve
langchain-chroma
langchain-huggingface
wikipedia
arxiv
duckduckgo-search
nltk
unstructured
youtube-transcript-api
langserve